<div class="main-patient-container">
    <img src="/assets/images/patiente-main.jpg" alt="main image" class="main-patient-container-image">
    <div class="main-patient-container-information">
        <h1 class="main-patient-container-title">Encuentra un especialista de salud, para una atención médica ambulatoria en casa.</h1>
        <p>Dale clic en buscar para conocer que médicos están disponibles.</p>
        <a routerLink="medical-appointment" class="btn btn-primary">Agendar Cita</a>
    </div>
</div>

