<div class="view-patient-container">
    <div class="container-patient">
        <h2 class="container-patient-title">Datos personales</h2>
        <div>
            <div class="view-patient-data">
                <p>Nombre: <span>{{patient.usuario.nombre}}</span></p>
            </div>
            <div class="view-patient-data">
                <p>Apellido: <span>{{patient.usuario.apellidoPaterno}} {{patient.usuario.apellidoMaterno}}</span></p>
            </div>
            <div class="view-patient-data">
                <p>DNI: <span>{{patient.usuario.dni}}</span></p>
            </div>
            <div class="view-patient-data">
                <p>Fecha de nacimiento: <span>{{patient.usuario.fechaNacimiento}}</span></p>
            </div>
            <div class="view-patient-data">
                <p>Celular: <span>{{patient.usuario.celular}}</span></p>
            </div>
            <div class="view-patient-data">
                <p>Correo: <span>{{patient.usuario.correo}}</span></p>
            </div>
        </div>
    </div>

    <div class="container-patient">
        <h2 class="container-patient-title">Datos de contacto</h2>
        <div>
            <div class="view-patient-data">
                <p>Distrito: <span>{{patient.usuario.distrito}}</span></p>
            </div>
            <div class="view-patient-data">
                <p>Domicilio: <span>{{patient.usuario.direccion}}</span></p>
            </div>

        </div>
    </div>
</div>
