.medical-appointment-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    &-form {
        width: 80%;
    }

    &-dates {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        
    }

    @media screen and( min-width: 500px) {
        &-dates {
            column-gap: 16px;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            width: 100%;   
        }   
    }
    
}

.form-group {
    width: 100%;
}

.btn-primary {
    margin-left: 50%;
    transform: translateX(-50%);
}
