<div class="main-doctor-container">
    <img src="/assets/images/doctor-main.jpg" alt="main image" class="main-doctor-container-image">
    <div class="main-patient-container-information">
      <h1 class="main-patient-container-title">Vamos a atender, puede haber paciente que necesiten de tu ayuda.</h1>
      <p>Activa tu disponibilidad para que ellos puedan solicitar tu atención.</p>
      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Activar</button>

      <div id="demo"  class="collapse">
       Ahora recibiras solicitudes de atencion médica
      </div>
    </div>

    </div>
