<div class="view-patient-container">
    <div class="container-patient">
        <h2 class="container-patient-title">Cita Médica<span>{{medicalHistory.cita.codigoCita}}</span></h2>
        <div>
            <div class="view-patient-data">
                <p>Fecha: <span>{{medicalHistory.cita.codigoCita}}</span></p>
                <p>Doctor: <span>{{medicalHistory.cita.fechaCita}}</span></p>
                <p>Tarifa: <span>{{medicalHistory.cita.doctor.tarifa}}</span></p>
            </div>

        </div>
    </div>




    <div class="panel panel-default">
      <div class="panel-heading">Panel Heading</div>
      <div class="panel-body">
        <p>Fecha: <span>{{medicalHistory.cita.codigoCita}}</span></p>

      </div>
    </div>




    <div class="container-patient">
        <h2 class="container-patient-title">Datos de contacto</h2>
        <div>


        </div>
    </div>
</div>
