<div class="view-patient-container">
    <div class="container-patient">
        <h2 class="container-patient-title">Cita Médica <span>{{ medicalHistory.cita.codigoCita}}</span></h2>
        <div>
            <div class="view-patient-data">
                <p>Doctor: <span>{{medicalHistory.doctor_nombre}}</span></p>
                <p>Fecha: <span>{{medicalHistory.cita.fechaCita | date: 'longDate'}}</span></p>
                <p>Tarifa: <span>{{medicalHistory.areaSintoma.descripcion}}</span></p>
            </div>

        </div>
    </div>




    <div class="panel panel-default">
      <div class="panel-heading">Panel Heading</div>
      <div class="panel-body">
        <table class="table table-striped table-doctor-main">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th class="delete-with-responsive" scope="col">Fecha</th>
            </tr>
          </thead>

        </table>
      </div>
    </div>




    <div class="container-patient">
        <h2 class="container-patient-title">Datos de contacto</h2>
        <div>


        </div>
    </div>
</div>
