$color-text-white: #fff;

.header-container {
    height: 70px;
    background: #3f4d67;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .sidebar-logo {
        justify-content: center;
        position: relative;

    }

    &-button {
        position: absolute;
        left: 5%;
        cursor: pointer;
    }

    @media screen and (min-width: 800px) {
        display: none;
    }
}



.sidebar-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    width: 264px;
    &-title {
        margin-left: 10px;
        color: $color-text-white;
        font-size: 18px;
        font-weight: 100;
        margin-bottom: 0;
    }

    &-image {
        border-radius: 8px;
        background-image: linear-gradient(-135deg, rgb(29, 233, 182) 0%, rgb(29, 196, 233) 100%);
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}
