.patient-container {
    min-height: calc(100vh - 70px);
    width: 100vw;

    &-router {
        padding: 8px;    
    }
    @media screen and (min-width: 600px){
        &-router {
            padding: 20px;    
        }
    }

    @media screen and (min-width: 800px) {
        display: grid;
        grid-template-columns: 264px calc(100% - 264px);
    }

    @media screen and (min-width: 1000px) {
        &-router {
            padding: 32px;    
        }
    }
}
